/* Rofi Catppuccin Mocha Theme */
* {
  bg0     : #1e1e2e;
  bg1     : #313244;
  bg2     : #45475a;
  bg3     : #585b70;
  fg0     : #cdd6f4;
  fg1     : #bac2de;
  fg2     : #a6adc8;
  red     : #f38ba8;
  green   : #a6e3a1;
  yellow  : #f9e2af;
  blue    : #89b4fa;
  magenta : #f5c2e7;
  cyan    : #94e2d5;

  accent: @blue;
  urgent: @yellow;
}
